converted.v
C_Code/a.elf
C_Code/a.out
C_Code/*.c
C_Code/*.h
C_Code/*.py
C_Code/*.mem
C_Code/*.map
C_Code/*.lds
C_Code/*.s
C_Code/*.su
rtl/version_string.svh
rtl/version_string.sv
rtl/uart_vhdl/uart_vhd_cpu.v
ref_fpga_sys_lite.sv
*.mem
main.bin
rtl/picosoc_mem.v
*.tar.gz
sim/work
sim/vlog.opt
sim/vsim.wlf
sim/transcript
sim_result.txt
sim/cpu_sim/*.sv
scripts/__pycache__
scripts/cpu_config/__pycache__
scripts/cpu_config/headers/__pycache__